.header {
  cbackground-color: #007ac9; /* Azul HSL */
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 4px solid #005a96;
}

.greeting {
  color: #444;
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.main {
  background-color: blueviolet;
}

body {
  margin: 0;
  font-family: "segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #5d5d5d;
}
